<% layout("/layouts/boilerplate.ejs")%>
<body>
    <div class="row-2 col-5 offset-4  ">
        <h2>Sign Up</h2>
        <form action="/signup" method="POST" novalidate class="needs-validation" >
        <div class="mb-3" >
            <label for="username"  class="form-label" >Username: 
                <input class="input form-control" type="text" name="username" placeholder="Enter your username"  required>
                <div class="valid-feedback"> Looks good.</div>
                <div class="invalid-feedback">Please Enter valid Username</div>
            </label> 
        </div> 
        <div class="mb-3">
            <label for="email"  class="form-label" >E - mail: 
                <input class="input form-control" type="email" name="email" placeholder="Eg. youremail@gmail.com"  required>
                <div class="valid-feedback"> Looks good.</div>
                <div class="invalid-feedback">Please Enter valid E mail</div>
            </label> 

        </div>
        <div class="mb-3">
            <label for="password"  class="form-label" >Create Password: 
                <input class="input form-control" type="password" name="password"  placeholder="Create your password" required>
                <div class="valid-feedback"> Looks good.</div>
                <div class="invalid-feedback">Please Enter valid password</div>
            </label> 

        </div><div class="row col-5">
            <!-- <form action="/login" method="get" class="justify-content-center"> -->
            <button type="submit" class="btn btn-primary justify-content-center ">Sign Up</button> </form>
            <p class="Already">If Already a user...</p>
            <form action="/login" method="get" class="justify-content-center">  
                
        <button type="submit" class="btn btn-success justify-content-center ">Login</button></form></div>
            

        
    
    </div>
</body>